* {
    box-sizing: border-box;
}

body {

    padding-top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 5em;
    justify-content: space-evenly;
    background-color: #636363;
    color: #02afff;
    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .1em;
}

a {
    color: #02afff;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.fa-check {
    color: #02afff;
}
.fa-check:hover {
    cursor: pointer;
    border: 1px solid;
}
.fa-trash-alt {
    color: red;
    width: 25px;
    display: inline-block;
    visibility: hidden;
}
.fa-trash-alt:hover {
    border: 1px solid;
    cursor: pointer;
}

#title {
    font-size: 1.5em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #636363;
    color: #02afff;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#options li:hover {
    cursor: pointer;
    color: #ceceff;
}

#options li {
    list-style: none;

}

#skill-list li {
    display: inline-block;
    width: 40%;
    border: 1px solid;
    margin: 2%; 
    font-size: 2em;
}

#skills {
    justify-content: center;
    align-items: center;
}

#new-skills {
    display: none;
}

#new-skills input {
    width: 250px;
    height: 25px;
}