* {
    box-sizing: border-box;
    color: #341A04;
}

html {
    height: 100vh;
    width: 100vw;  
    background: #2C7CB0;
}

body {
    margin: 10% auto;
    border: 1vmin #36393A solid;
    width: 75%;
    background: #92979B;
    justify-content: flex-start !important;
    border-radius: 2vmin;
}

ul {
    list-style: none;
    padding: 1vmin;
}

li {
    font-size: 1em;
    text-align: center;
}

input, #add {
    height: 5vmin;
    margin: 1vmin;
}

button, .delete, #edit {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;

}
.row {
    flex-direction: row;
}

.delete {
    margin: 0 1vmin;
    color: #FF0000;
    visibility: hidden;
}

.delete:hover {
    border: .25vmin solid red;
}

#title, h1 {
    margin: 0;
}

#edit {
    text-align: center;
    text-decoration: underline;
    color: #0000cd;
    margin-top: 0;
}

#edit:hover {
    color: #FFF;
}
